#nine-logo {
    max-height: 2rem;
    max-width: auto;
    margin-right: 1rem;
}

.nav-head {
    font-size: 1.5rem;
}

.nav-link:hover, .nav-link:focus {
    font-weight: 600;
}

#navDaftar {
    position: absolute;
    right: 1rem;
}