{% load static %}
<!DOCTYPE html>
<html>
<head>
		<!-- BOOSTRAP -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel = "stylesheet" href = "{% static 'css/login.css' %}">
		<script src = "{% static 'js/login.js' %}"></script>
		<title>A9 Funding</title>
</head>

<body class = "container">
	<div style="text-align: center;">
		<br><br><br>
		<br><br><br>
		<h3 style = "margin-top: 18.5vh"> 
			Selamat Datang {{nama}} <br>
		</h3>
	</div>
</body>
</html>