{% extends 'navbar.html' %}

{% block head %}
<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>{{title}}</title>
        <!-- Di sini bisa tambahin lagi kalau mau ada link atau styling lagi -->
        <style>
            #titleDiv {
                margin: 2rem 1rem 1rem 1rem;
            }

            #title {
                font-weight: bold;
                margin-left: 1rem;
            }

            .line {
                border-top: 1px solid black;
            }

            .program-card {
                float: left;
                max-width: 20rem;
                min-width: 10rem;
                margin: 2rem;
            }
            
            .program-img {
                max-width: 100%;
                margin:0%;
            }
        </style>

        {% endblock %}
        


        {% block content %}
        
        <br>
        <br>
        <div id="titleDiv">
            <h1 id="title">Program Donasi Kami</h1>
            <hr class="line">
        </div>
        

        {% for Program in all_programs %}
        <div class="card program-card">
            <img class="card-img-top" src="{{Program.image}}" alt="Foto lokasi">
            <div class="card-body">
                <h5 class="card-title">{{Program.title}}</h5>
                <hr>
                <p class="card-text">{{Program.description}}</p>

                {% if user.is_authenticated %}
                    <a href="{% url 'donation:donasi' %}" class="btn btn-success">Donasi</a>
                {% else %}
                    <a class="btn btn-success" id="donasiBelumLoginButton" data-toggle="modal" data-target="#loginModal">
                        Donasi
                    </a>
                    <!-- <a href="{% url 'login:login' %}" class="btn btn-success">Donasi</a> -->
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">You are not logged in!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Elements from login page -->
                        <div style="text-align: center;">
                            <a class = "btn btn-link tooltip-test" title="Login with Google account" href="{% url 'social:begin' 'google-oauth2' %}">
                                <img id = "googleimage" src = "{% static 'img/google.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/mydonations/donation_table.js' %}"></script>
</html>
{% endblock %}