{% load static %}
<!DOCTYPE html>
<html>
<head>
        <!-- BOOSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>A9 Funding - Donasi</title>
</head>
<body class = bg-light>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class='row'>
            <div class = "col-sm-1">
            </div>

            <div class="col-sm-10">
                <br><br><br><br>
                <div>
                    <h1 style = "font-family: 'Montserrat';">Donasi Sekarang
                    </h1>
                    <hr style = "border-color: #0086CD; border-width: 2px;">
                </div>
                <div>
                    <form class="ui form"action={% url 'donation:submit' %} method="POST">
                        <div style="border-radius:10%">
                            <div class="card-body text-white" style = "background-color: #0086CD; font-size: 22px; font-family: 'Montserrat'; margin: auto; width: 100%;">
                            {% csrf_token %}
                            {{form.as_p}}
                            </div>
                        </div>
                        </div>
                        <br><br>
                        <button class="btn  text-white item-right" type="submit" value="Submit" style = "background-color: #0086CD; font-family: 'Montserrat'; font-size: 27px">Submit</button>
                    </form>
                </div>
            </div>

            <div class = "col-sm-1">
            </div>
        </div>
    </div>


</body>
</html>
