{% block head %}
{% endblock %}
{% load static %}
		
        <!-- For Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
        <!-- Own's static files -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/tp1.css' %}">
	</head>
	
    <body>
    	<!-- from bootstrap -->
    		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navBar" style="background-color: #0086CD;">
	            <a class="nav-item nav-link" href="{% url 'news:news' %}"><img id="nine-logo" src="{% static 'img/nine-logo.png' %}"></a>
			    
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav" id="navBarNav">
				    	<a class="nav-item nav-link nav-head" href="{% url 'programs_app:programs' %}" style="color: #FFFFFF;">Program</a>
						<a class="nav-item nav-link nav-head" href="{% url 'donation:donasi' %}" style="color: #FFFFFF;">Donasi</a>
						{% if user.is_authenticated %}
							<a class="nav-item nav-link nav-head" href="{% url 'mydonation:mydonations' %}" style="color: #FFFFFF;">Donasi Saya</a>
						{% endif %}

						<a class="nav-item nav-link nav-head" href="{% url 'about_us:about_us' %}" style="color: #FFFFFF;">About Us</a>

						{% if user.is_authenticated %}
							<a class="nav-item nav-link nav-head" id="navDaftar" href="{% url 'login:logout' %}" style="color: #FFFFFF;">Logout</a>
						{% else %}
							<a class="nav-item nav-link nav-head" id="navDaftar" href="{% url 'login:login' %}" style="color: #FFFFFF;">Login</a>
						{% endif %}
				    </div>
			    </div>

			</nav>
    		
		{% block content %}
		{% endblock %}