{% extends 'navbar.html' %}

{% block head %}
<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>{{title}}</title>
        <!-- Di sini bisa tambahin lagi kalau mau ada link atau styling lagi -->
        <style>
            #titleDiv {
                margin: 2rem 1rem 1rem 1rem;
            }

            #title {
                font-weight: bold;
                margin-left: 1rem;
            }

            .line {
                border-top: 1px solid black;
            }

            .program-card {
                float: left;
                max-width: 20rem;
                min-width: 10rem;
                margin: 2rem;
            }
            
            .program-img {
                max-width: 100%;
                margin:0%;
            }
        </style>

        {% endblock %}
        


        {% block content %}
        
        <br>
        <br>
        <div id="titleDiv" onload="startMyDonationTable()">
            <h1 id="title">Daftar Donasi Anda</h1>
            <hr class="line">
        </div>
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Daftar donasi yang pernah Anda lakukan</h5>
                <hr>
                <p class="card-text">Jumlah donasi Anda: Rp.{{sum_of_donation}}</p>

                <table class="table table-hover" id="donation-table">
                    <thead class="thead-dark" id="table-head">
                        <tr>
                            <!-- <th scope="col">Tanggal</th> -->
                            <th scope="col">Nama Program</th>
                            <th scope="col">Jumlah Donasi</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ModelDonasi in list_of_donations %}
                        <tr>
                            <!-- <td scope="row">{{ModelDonasi.date}}</td> -->
                            <td scope="row">{{ModelDonasi.namaProgram}}</td>
                            <td>{{ModelDonasi.uang}}</td> <!-- Can I give currency formatting? -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </body>
    <script src="{% static 'js/mydonations/donation_table.js' %}"></script>
</html>
{% endblock %}