{% extends 'navbar.html' %}

{% block head %}
<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}}</title>
<style>
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #2056ac;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2056ac;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


	ul.style1
	{
	}

		

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F#;
	}



	#header-wrapper
	{
		overflow: hidden;
		background: #2056ac;
	}

	#header
	{
		text-align: center;
	}


	#logo
	{
		padding: 8em 0em 4em 0em;
	}
	
	#logo h1
	{
		display: block;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	
	

	#banner
	{
		padding-top: 5em;
	}



	.wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		background: #FFF;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		background: #F3F3F3;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}


	#welcome
	{
		overflow: hidden;
		width: 1000px;
		padding: 6em 100px 0em 100px;
		text-align: center;
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
	}
	
	#welcome a,
	#welcome strong
	{
	}

	#sidebar
	{
		float: right;
		width: 350px;
	}


	#portfolio
	{
		overflow: hidden;
		padding-top: 5em;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 250px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}
	
	
	
	

	

.judul_about {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 1rem;
}


.container_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 8rem;
}

.background_testimoni {
    margin: auto;
}

.judul_testimoni {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 32px;
    color: #313131;
    font-weight: bold;
    padding-bottom: 3rem;
}

.text-area {
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    padding: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

.form-group {
    margin: auto 10rem;
}

.submit-btn {
    padding-top: 1rem;
}

.testimonials-form {
    padding: 6rem ;
}

.btn-primary {
    background-color: #00BCD4;
    color: white;
    font-weight: bold;
    border: 2px solid #0096AA;
    border-radius: 40px;
    width: 200px;
    height: 48px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
}

.testimony-set  {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    width: 18rem;
    height: 12rem;
    margin: 2rem 2rem;
}

@media screen and (max-width: 991px) {
    .container_about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }

    .about {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: white;
        padding: 1rem 1rem;
        text-align: center;
    }

    .judul_testimoni {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 32px;
        color: #313131;
        font-weight: bold;
        padding-bottom: 3rem;
    }

    .text-area {
        border-radius: 12px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
        padding: 1rem;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 16px;
    }

    .form-group {
        margin: auto 2rem;
    }

    .submit-btn {
        padding-top: 2rem;
    }

    .testimonials-form {
        padding: 3rem 0;
    }

    .submit-btn {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

</style>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">PT. Sinar Perak</a></h1>
		</div>
	</div>
</div>
<div class="wrapper">
	<div id="banner" class="container"><img src="{%static 'img/bantuan1.jpg'%}" width="1200" height="500" alt="" /></div>
	<div id="welcome" class="container">
    	
<div class="title">
	  <h2>About Us</h2>
		</div>
		<p>PT Sinar Mas adalah perusahaan yang bergerak di bidang sosial. A9 adalah solusi untuk menyelesaikan masalah finansial untuk orang yang membutuhkan dengan membuka galang dana yang nantinya akan disalurkan ke orang yang membutuhkan. karna kami adalah orang baik.</p>
	</div>
	<div id="portfolio" class="container">
		<div class="column1">
			<div class="box">
			  <h3>Bersahabat</h3>
				<p>Membantu orang dengan cara bersahabat.</p>
		</div>
		</div>
		<div class="column2">
			<div class="box">
			  <h3>Dekat</h3>
				<p>Dekat dengan semua orang.</p>
		</div>
		</div>
		<div class="column3">
			<div class="box">
			  <h3>Membantu</h3>
				<p>Membantu tanpa melihat apapun</p>
		  </div>
		</div>
		<div class="column4">
			<div class="box">
			  <h3>Baik Hati</h3>
				<p>Kami yang terbaik hatinya</p>
		 </div>
		</div>
	</div>
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		


		
<div class="background_testimoni">
    {% if user.is_authenticated %}
        <section class="testimonials-form">
            <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
                <h1 align="center" class="judul_testimoni"> Ceritakan Kami </h1>
            </div>
            {% csrf_token %}
            <div class="form-group">
        <textarea class="form-control text-area" rows=10
                  id="text_testimoni"></textarea>
                <div class="submit-btn d-flex justify-content-end align-items-center">
                    <input type="button"  onclick="testimoni()" class="btn-primary btn" value="SUBMIT">
                </div>
            </div>

        </section>
    {% endif %}

    <section class="testimonials-list">
        <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
        </div>
        <div id="testimony" class="testimony d-flex flex-wrap justify-content-center align-items-center">
            {% for testimony in data %}
                <div class="testimony-set d-flex justify-content-center align-items-center flex-column">
                    <p class="testimony-txt">“{{ testimony.text }}” </p>
                    <p class="testimoners"><strong>{{ testimony.name }}</strong></p>
                </div>
            {% endfor %}
            <div class="blank-space"></div>
            <div class="blank-space"></div>
        </div>
    </section>

</div>
</div>
</body>

<script>
function testimoni() {
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var text = $('#text_testimoni').val();
    $.ajax({
        method: "POST",
        url: "/tentangKami/save/",
        headers: {
            "X-CSRFToken": csrftoken,
        },
        data: {
            text: text,
        },
        success: function (result) {
            if (result.saved) {
                var html = `<div class="testimony-set d-flex justify-content-center align-items-center flex-column"><p class="testimony-txt">“${result.text}”</p><p class="testimoners"><strong>${result.name}</strong></p></div>`;
                $('#testimony').prepend(html);
                $('#text_testimoni').val('');
            }
        },
        error: function () {
            alert("Error, cannot save data to server");
        }


    })
}
</script>
</html>
{% endblock %}