{% extends 'navbar.html' %}
{% load static %}
{% block head %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>A9 Funding</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
	<body>
	<br>
	<h1 style="width:50%; margin:5% 5% 5% 20%;"> Berita Terkini</h1>
	 <div class="card" style="width:50%; margin:5% 5% 5% 25%;">
	 <div class="row">
		 <div class="col-md-4">
			<img src="{%static 'img/gambar.jpeg'%}" alt="" height = "100%" width = "100%">
		</div>
		<div class="col-md-8">
			<h4 class="card-title">Mari Bantu Sulteng, Donasi Dompet Amal Transmedia</h4>
			<p class="card-text">Jakarta - Bantuan masih terus mengalir untuk korban gempa dan tsunami di Sulawesi Tengah (Sulteng). Hingga saat ini, bantuan lewat Dompet Amal Transmedia mencapai Rp 7,4 miliar.</p>
			<a href="{% url 'programs_app:programs' %}" class="btn btn-primary">Donasi</a>
		</div>
    
    </div>
	</div>
	
	
	<div class="card" style="width:50%; margin:5% 5% 5% 25%;">
	 <div class="row">
	 <div class="col-md-4">
            <img src="{%static 'img/gambar.jpeg'%}" alt="" height = "100%" width = "100%">
        </div>
        <div class="col-md-8">
            <h4 class="card-title">Mataram Diguncang Gempa Magnitudo 5,1</h4>
            <p class="card-text">Jakarta - Gempa bermagnitudo 5,1 terjadi di Mataram, Nusa Tenggara Barat. Berdasarkan data Badan Meteorologi, Klimatologi, dan Geofisika (BMKG) lindu terjadi pukul 09:37:15 WIB.</p>
            <a href="{% url 'programs_app:programs' %}" class="btn btn-primary">Donasi</a>
        </div>
	 </div>
	 </div>
	<div class="card" style="width:50%; margin:5% 5% 5% 25%;">
	 <div class="row">
	 <div class="col-md-4">
            <img src="{%static 'img/gambar.jpeg'%}" alt="" height = "100%" width = "100%">
        </div>
        <div class="col-md-8">
            <h4 class="card-title">Situbondo Terkena Gempa</h4>
            <p class="card-text">Jakarta - Bantuan masih terus mengalir untuk korban gempa Situbondo. Hingga saat ini, bantuan lewat Dompet Amal Kitabisa.com mencapai Rp 2 miliar.</p>
            <a href="{% url 'programs_app:programs' %}" class="btn btn-primary">Donasi</a>
        </div>
	 </div>
	</div>
	
	</body>
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>

{% endblock %}